@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla:wght@800&display=swap');
body{
    background:#1C1C1C;
}

.container{
    background: #1F2937;
    display: block;
    margin: 100px auto;
    text-align: left;
    padding: 100px 70px;
    border-radius: 10px;
    color:white;
    width: 550px;
    font-family: 'Inter', sans-serif;
}
.topSection h1{
    font-size: 40px;
    font-family: 'Karla', sans-serif;
    margin-bottom: 0px;
}
.topSection span{
    color: #4ADF86;
}
.topSection p{
   margin-top: 5px;
   padding:10px 0px 30px;
   color:#D5D4D8;
   font-size: 20px;
}
.topSection button{
    background: #10B981;
    padding: 9px 16px;
    border:none;
    border-radius: 6px;
    height: 42px;
    width: 191px;
    color: white;
    font-size: 16px;
    text-shadow: 0px 0px white;
}
.line{
    margin-top: 30px;
    width: 90%;
    border-top: 1px solid #2F3E53;
}


#password-container{
    display: flex;
    visibility: hidden;
 
}

#password-container p{
    text-align: center;
    padding-top: 15px;
    width: 211px;
    height: 39px;
    margin-right: 55px;
    background-color:#273549;
    border-radius: 6px;
    color: #55F991;
    font-size: 16px;
}

.copy-button{
    background: transparent;
    border:none;
    color:white;
    margin-left: -55px;
    margin-right: 20px;
    
}
.password {
    display: flex;
}

#copy-msg{
    text-align: center;
    color: red;
    display: block;
    visibility: hidden;
}

.slider{
    -webkit-appearance: none;
    width: 70%;
    height: 20px;
    border-radius: 10px;
    border: 2px solid #2F3E53;
    background: transparent;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #55F991;
}


.password-length p{
    margin: 0px;
    color: #ffffff;
    font-family: 'Karla', sans-serif;
}